<h1 id="tableLabel">Weather forecast</h1>

<form (ngSubmit)='searchWeather()' #searchForm='ngForm'>
  <input type="text" class="form-control input-lg" name="loc" [(ngModel)]="loc" />
  <button class="button" type="submit">Search</button>
</form>

<!--<form class="form-inline md-form form-sm">
  <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
         mdbInput>
</form>-->


<table class='table table-striped' aria-labelledby="tableLabel" *ngIf='resultFound()'>
  <tbody>
    <tr>
      <td>
        <h3>Current Temperature:</h3>
      </td>
      <td>
        <h3>
          {{currentWeather.main?.temp | number:'1.0-0'}}<sup>o</sup>C

          <img src="http://openweathermap.org/img/w/{{currentWeather.weather[0].icon}}.png">
        </h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Maximum Temperature:</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.temp_Max | number:'1.0-0'}}<sup>o</sup>C</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Minimum Temperature:</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.temp_Min | number:'1.0-0'}}<sup>o</sup>C</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Clouds:</h3>
      </td>
      <td>
        <h3>{{currentWeather.clouds?.all}}%</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Humidity</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.humidity}}%</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Pressure</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.pressure}}mb</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Sunrise</h3>
      </td>
      <td>
        <h3>{{currentWeather.sys?.sunrise*1000 | date:'long'}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Sunset</h3>
      </td>
      <td>
        <h3>{{currentWeather.sys?.sunset*1000 | date:'long'}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Visibility</h3>
      </td>
      <td>
        <h3>{{currentWeather.visibility}}m</h3>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf='resultFound()'>
  <h3>3 hour Forecast</h3>
  <div class="timeline">

    <div *ngFor="let item of forecastWeather.list?.slice(0, 10) ">
      <div>
        <div>{{item.dt*1000 | date:'HH:mm'}} </div>
        <div>{{item.main?.temp | number:'1.0-0'}}<sup>o</sup>C</div>
      </div>

    </div>
  </div>
 </div>
  <!--<div *ngIf='!resultFound()'>
    <h1 class="center">{{msg || 'Failed to get weather.'}}</h1>
  </div>-->
